body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:bisque;
    border-radius: 20px;
    border: 1px solid black;    
    height: 200px;
    width: 60%;
}



#button{
    border: 1px solid skyblue;
    display: flex;
    background-color: lightblue;
    border-radius: 100px;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 130px;
    height: 30px;
}
